<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Iron Back Product</title>

    <!-- Styles -->
    <link
            href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"
          href="../../assets/plugins/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/plugins/font-awesome/css/all.min.css}"
          href="../../assets/plugins/font-awesome/css/all.min.css"
          rel="stylesheet">
    <link th:href="@{/iron/css/iron.css}" rel="stylesheet">
    <link th:href="@{/iron/css/box.css}" rel="stylesheet">
    <link th:href="@{/iron/css/categories.css}" rel="stylesheet">
    <!-- Theme Styles -->
    <link th:href="@{/css/connect.min.css}"
          href="../../assets/css/connect.min.css" rel="stylesheet">
    <link th:href="@{/css/admin4.css}" href="../../assets/css/admin4.css"
          rel="stylesheet">
    <link th:href="@{/css/dark_theme.css}"
          href="../../assets/css/dark_theme.css" rel="stylesheet">
    <link th:href="@{/css/custom.css}" href="../../assets/css/custom.css"
          rel="stylesheet">
    <link th:href="@{/iron/css/categories.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link th:href="@{/fileinput/fileinput.css}" rel="stylesheet"/>
    <script th:src="@{/fileinput/fileinput.js}"></script>
    <script th:src="@{/fileinput/zh.js}"></script>
    <script th:src="@{/plugins/jquery/jquery-3.4.1.min.js}"
            src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script th:src="@{/plugins/bootstrap/popper.min.js}"
            src="../../assets/plugins/bootstrap/popper.min.js"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"
            src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
            src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script th:src="@{/plugins/jquery-sparkline/jquery.sparkline.min.js}"
            src="../../assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script th:src="@{/plugins/apexcharts/dist/apexcharts.min.js}"
            src="../../assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
    <script th:src="@{/plugins/blockui/jquery.blockUI.js}"
            src="../../assets/plugins/blockui/jquery.blockUI.js"></script>
    <script th:src="@{/plugins/flot/jquery.flot.min.js}"
            src="../../assets/plugins/flot/jquery.flot.min.js"></script>
    <script th:src="@{/plugins/flot/jquery.flot.time.min.js}"
            src="../../assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script th:src="@{/plugins/flot/jquery.flot.symbol.min.js}"
            src="../../assets/plugins/flot/jquery.flot.symbol.min.js"></script>
    <script th:src="@{/plugins/flot/jquery.flot.resize.min.js}"
            src="../../assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script th:src="@{/plugins/flot/jquery.flot.tooltip.min.js}"
            src="../../assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script th:src="@{/js/connect.min.js}"
            src="../../assets/js/connect.min.js"></script>
    <script th:src="@{/js/pages/dashboard.js}"
            src="../../assets/js/pages/dashboard.js"></script>
    <script src="../../assets/js/pages/mailbox.js"
            th:src="@{/js/pages/mailbox.js}"></script>

</head>
<body>
<div th:replace="back/include::modal" id="modal"></div>
<div th:replace="back/include::showImgModal"></div>
<div th:replace="back/CommonInclude::common"></div>
<div th:replace="back/CommonInclude::url"></div>
<div class='loader'>
    <div class='spinner-grow text-primary' role='status'>
        <span class='sr-only'>Loading...</span>
    </div>
</div>
<div class="connect-container align-content-stretch d-flex flex-wrap">
    <div th:replace="back/include::left" id="left"></div>
    <div class="page-container">
        <div class="page-content">
            <div class="main-wrapper">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="inbox-options">
                                    <div class="inbox-page-count">首页轮播图</div>
                                </div>
                                <table class="table table table-hover">
                                    <thead class="success">
                                    <th>照片</th>
                                    <th>链接</th>
                                    <th> ...</th>
                                    </thead>
                                    <tbody>

                                    <tr th:each="h:${home}">
                                        <td width="40%">
                                            <img class="width50" th:src="${qiniu}+${h.img}" alt=""/>
                                        </td>
                                        <td>
                                            <span th:text="${h.link}"></span>
                                        </td>
                                        <td>
                                            <span id="homeDeleteButton" class="fontRed"
                                                  th:attr="data-id=${h.id}">删除</span>
                                        </td>
                                    </tr>
                                    <div th:replace="back/CommonInclude::common"></div>
                                    <div th:replace="back/CommonInclude::url"></div>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <table>
                                    <thead class="success">
                                    <th><span id="carouselButton" class="fontRed">照片(添加1920 × 843)</span></th>
                                    <th>链接</th>
                                    <th></th>
                                    </thead>
                                    <tbody>

                                    <tr>

                                        <td width="40%">
                                            <img class="width50" id="carouselImg"/>
                                            <input type="file" class="iron-hidden" id="carouselInput" accept="image/*"/>
                                        </td>
                                        <td>
                                            <input class="form-control" id="homeLink" type="text">
                                        </td>
                                        <td>
                                            <button class="btn-info btn" id="addHomeButton">添加</button>
                                        </td>
                                    </tr>
                                </table>
                                <script type="text/javascript" th:inline="javascript">

                                    $("#homeDeleteButton").click(function () {
                                        postRequest(deleteHomeUrl(), getFormData("id", $(this).attr("data-id")))
                                        location.reload()
                                    })
                                    $("#carouselButton").click(function () {
                                        $("#carouselInput").trigger("click")
                                    })

                                    $("#carouselInput").change(function () {
                                        let file = $(this)[0].files[0]
                                        $("#carouselImg").attr("src", getFileTempPath(file))


                                    })
                                    $("#addHomeButton").click(function () {
                                        let formData = getFormData("file", $("#carouselInput")[0].files[0])
                                        formData.append("key", "homeCarousel_")
                                        let img = postRequest(uploadFileUrl(), formData)
                                        console.log(img)
                                        let homeFormData = getFormData("img", img)
                                        homeFormData.append("link", $("#homeLink").val())
                                        postRequest(addHomeUrl(), homeFormData)
                                        alert("上传成功")
                                        location.reload()
                                    })
                                </script>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="inbox-options">
                                    <div class="inbox-page-count">首页文本</div>
                                </div>
                                <table class="table table table-hover">
                                    <thead class="success">
                                    <th>属性</th>
                                    <th>值</th>
                                    <th> ...</th>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td width="20%">
                                            <span th:text="${title.getTitle()}"></span>
                                        </td>
                                        <td>
                                            <input class="form-control" id="homeTitleAttr"
                                                   th:value="${title.getContent()}"/>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="20%">
                                            <span th:text="${title_en.getTitle()}" id=""></span>
                                        </td>
                                        <td>
                                            <input class="form-control homeAttr" id="title_en"
                                                   th:value="${title_en.getContent()}"/>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="20%">
                                            <span th:text="${content.getTitle()}"></span>
                                        </td>
                                        <td>
                                            <input class="form-control" id="homeContentAttr"
                                                   th:value="${content.getContent()}"/>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="20%">
                                            <span th:text="${content_en.getTitle()}" id=""></span>
                                        </td>
                                        <td>
                                            <input class="form-control  homeAttr" id="content_en"
                                                   th:value="${content_en.getContent()}"/>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="20%">
                                            <span th:text="${img.getTitle()}"></span>
                                        </td>
                                        <td width="60%">
                                            <img style="width: 100%" id="HomeImg" th:src="${qiniu}+${img.content}">
                                        </td>
                                        <td>
                                            <span class="fontRed" id="editHomeImgButton">修改1920 × 843</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>首页热门下边的照片 1920 × 843</td>
                                    </tr>
                                    <tr>
                                        <td width="20%">
                                            <span th:text="${detailImg.getTitle()}"></span>
                                        </td>
                                        <td width="60%">
                                            <img style="width: 100%" id="HomeDetailImg"
                                                 th:src="${qiniu}+${detailImg.content}">
                                        </td>
                                        <td>
                                            <span class="fontRed" id="editHomeDetailImgButton">修改1920 × 843</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="20%">
                                            <span th:text="${detailImgLink.getTitle()}"></span>
                                        </td>
                                        <td>
                                            <input class="form-control" id="homeDetailImgLinkAttr"
                                                   th:value="${detailImgLink.getContent()}"/>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                    <div th:replace="back/CommonInclude::common"></div>
                                    <div th:replace="back/CommonInclude::url"></div>
                                    </tbody>
                                </table>
                                <input class="iron-hidden" type="file" value="修改照片" name="file" id="HomeImgAttr"
                                       accept="image/*"/>
                                <input class="iron-hidden" type="file" value="修改照片" name="file" id="HomeDetailImgInput"
                                       accept="image/*"/>
                                <script type="text/javascript" th:inline="javascript">
                                    $("#editHomeImgButton").click(function () {
                                        $("#HomeImgAttr").trigger("click")
                                    })
                                    $("#editHomeDetailImgButton").click(function () {
                                        $("#HomeDetailImgInput").trigger("click")
                                    })
                                    $("#HomeImgAttr").change(function () {
                                        let formData = getFormData("file", $(this)[0].files[0])
                                        formData.append("key", "HomeImgAttr_")
                                        let result = postRequest(uploadFileUrl(), formData)

                                        let homeImgFormData = getFormData("id", [[${img.id}]])
                                        homeImgFormData.append("title", [[${img.title}]])
                                        homeImgFormData.append("content", result)
                                        postRequest(editHomeAttr(), homeImgFormData)

                                        $("#HomeImg").attr("src", [[${qiniu}]] + result)
                                    })
                                    $("#HomeDetailImgInput").change(function () {
                                        let formData = getFormData("file", $(this)[0].files[0])
                                        formData.append("key", "HomeDetailImgAttr_")
                                        let result = postRequest(uploadFileUrl(), formData)

                                        let homeImgFormData = getFormData("id", [[${detailImg.id}]])
                                        homeImgFormData.append("title", [[${detailImg.title}]])
                                        homeImgFormData.append("content", result)
                                        postRequest(editHomeAttr(), homeImgFormData)

                                        $("#HomeDetailImg").attr("src", [[${qiniu}]] + result)
                                    })
                                    $("#homeTitleAttr").blur(function () {
                                        let formData = getFormData("id", [[${title.id}]])
                                        formData.append("title", [[${title.title}]])
                                        formData.append("content", $(this).val())
                                        postRequest(editHomeAttr(), formData)
                                    })

                                    $("#homeContentAttr").blur(function () {
                                        let formData = getFormData("id", [[${content.id}]])
                                        formData.append("title", [[${content.title}]])
                                        formData.append("content", $(this).val())
                                        postRequest(editHomeAttr(), formData)
                                    })

                                    $("#homeDetailImgLinkAttr").blur(function () {
                                        let formData = getFormData("id", [[${detailImgLink.id}]])
                                        formData.append("title", [[${detailImgLink.title}]])
                                        formData.append("content", $(this).val())
                                        postRequest(editHomeAttr(), formData)
                                    })

                                    $("#title_en").blur(function () {
                                        let formData = getFormData("id", [[${title_en.id}]])
                                        formData.append("title", [[${title_en.title}]])
                                        formData.append("content", $(this).val())
                                        postRequest(editHomeAttr(), formData)
                                    })
                                    $("#content_en").blur(function () {
                                        let formData = getFormData("id", [[${content_en.id}]])
                                        formData.append("title", [[${content_en.title}]])
                                        formData.append("content", $(this).val())
                                        postRequest(editHomeAttr(), formData)
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="inbox-options">
                                    <div class="inbox-page-count">页脚</div>

                                </div>
                                <table class="table table table-hover">
                                    <thead class="success">
                                    <th>属性</th>
                                    <th>值</th>
                                    <th> ...</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${twitter.getTitle()}" th:attr="data-id=${twitter.getId()}"
                                            id="twitter"></td>
                                        <td>
                                            <input class="form-control footAttr" data-id="twitter"
                                                   th:value="${twitter.getContent()}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td th:text="${youtube.getTitle()}" th:attr="data-id=${youtube.getId()}"
                                            id="youtube"></td>
                                        <td>
                                            <input class="form-control footAttr" data-id="youtube"
                                                   th:value="${youtube.getContent()}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td th:text="${facebook.getTitle()}" th:attr="data-id=${facebook.getId()}"
                                            id="facebook"></td>
                                        <td>
                                            <input class="form-control footAttr" data-id="facebook"
                                                   th:value="${facebook.getContent()}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td th:text="${linked.getTitle()}" th:attr="data-id=${linked.getId()}"
                                            id="linked"></td>
                                        <td>
                                            <input class="form-control footAttr" data-id="linked"
                                                   th:value="${linked.getContent()}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td th:text="${email.getTitle()}" th:attr="data-id=${email.getId()}"
                                            id="email"></td>
                                        <td>
                                            <input class="form-control footAttr" data-id="email"
                                                   th:value="${email.getContent()}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td th:text="${followUs.getTitle()}" th:attr="data-id=${followUs.getId()}"
                                            id="followUs"></td>
                                        <td>
                                            <input class="form-control footAttr" data-id="followUs"
                                                   th:value="${followUs.getContent()}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td th:text="${foot.getTitle()}" th:attr="data-id=${foot.getId()}"
                                            id="foot"></td>
                                        <td>
                                            <input class="form-control footAttr" data-id="foot"
                                                   th:value="${foot.getContent()}"/>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                            <script type="text/javascript" th:inline="javascript">
                                $(".footAttr").blur(function () {
                                    console.log("aa")
                                    let id = "#" + $(this).attr("data-id")
                                    let formData = getFormData("id", $(id).attr("data-id"))
                                    let content = $(this).val()
                                    let title = $(id).text()
                                    if (title !== "email" && title !== "foot") {
                                        if (!content.startsWith("http")) {
                                            content = "http://" + content;
                                        }
                                    }
                                    formData.append("title", title)
                                    formData.append("content", content)
                                    postRequest(editHomeAttr(), formData)
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="row">
                <div class="col-md-12">
                    <span class="footer-text">2020 <a href="/iron/front/index">首页</a></span>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="mailbox-compose-overlay"></div>
<div class="mailbox-item-overlay"></div>

<a class="hidden" href="/iron/back/products" id="productFresh"><span></span></a>

</body>
</html>