<footer th:fragment="postRequest">
    <script type="text/javascript" th:inline="javascript">

        function postRequest (page,aFormData) {
            $.ajax({
                url: page,
                type: 'POST',
                cache: false,
                data: aFormData,
                processData: false,
                contentType: false,
                success: function () {
                    return true
                }
            })
        };
    </script>
</footer>


<footer th:fragment="formData">
    <script type="text/javascript" th:inline="javascript">
        function fromData_append(aFormData,key,value){
            aFormData.append(key,value)
        }
        function fromData_appentFile(aFormData,files){
            $.each(files, function (i, file) {
                aFormData.append('file', file);
            });
        }
        function formData_isNull(aFormData) {
            for (var value of aFormData.values()) {
                if (value == "") {
                    return true
                }
            }
            return false
        }
    </script>
</footer>

<footer th:fragment="public">
    <script type="text/javascript" th:inline="javascript">
        function getVal(id) {
            return $(id).val();
        }
    </script>
</footer>