<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="canonical"
	href="https://t198.web.ueeshop.com/contact-us-2.html" />
<link rel='shortcut icon' href='' />
<meta name="keywords" content="Pure Vision" />
<meta name="description" content="Pure Vision" />
<title>Pure Vision</title>
<link href='../../static/css/global.css' rel='stylesheet'
	th:href="@{/css/global.css}" type='text/css' />
<link href='../../static/css/themes.css' rel='stylesheet'
	th:href="@{/css/themes.css}" type='text/css' />
<link href='../../static/css/user.css' rel='stylesheet' type='text/css'
	th:href="@{/css/user.css}" />
<link href='../../static/css/style.css' rel='stylesheet' type='text/css'
	th:href="@{/css/style.css}" />
<script type='text/javascript' src='../../static/js/en.js'
	th:src="@{/js/en.js}"></script>
<script type='text/javascript' src='../../static/js/global.js'
	th:src="@{/js/global.js}"></script>
<script type='text/javascript' src='../../static/js/themes.js'
	th:src="@{/js/themes.js}"></script>
<script type='text/javascript' src='../../static/js/user.js'
	th:src="@{/js/user.js}"></script>
<script type='text/javascript' src='../../static/js/main.js'
	th:src="@{/js/main.js}"></script>
<link href='../../static/css/font.css' rel='stylesheet' type='text/css'
	th:href="@{/css/font.css}" />
<link href='../../static/css/style.css' rel='stylesheet' type='text/css'
	th:href="@{/css/style.css}" />
<link href='../../static/css/index.css' rel='stylesheet' type='text/css'
	th:href="@{/css/index.css}" />
<link href='../../static/css/jquery.bxslider.css' rel='stylesheet'
	type='text/css' th:href="@{/css/jquery.bxslider.css}" />
<script type='text/javascript' src='../../static/js/jquery.bxslider.js'
	th:src="@{/js/jquery.bxslider.js}"></script>
<script type='text/javascript' src='../../static/js/analytics.js'
	th:src="@{/js/jquery.analytics.js}"></script>
<script src="../../static/js/fixed.toper.js"
	th:src="@{js/fixed.toper.js}"></script>
	<script th:src="@{/bootstrap/js/jquery/2.0.0/jquery.min.js}" type='text/javascript'></script>
	<link th:href="@{/bootstrap/css/bootstrap/3.3.6/bootstrap.min.css}" rel="stylesheet"/>
	<script th:src="@{/bootstrap/js/bootstrap/3.3.6/bootstrap.min.js}" type='text/javascript'></script>
</head>
<body class="lang_en">
	<script type="text/javascript">
		$(window).resize(function() {
			$(window).webDisplay(0);
		});
		$(window).webDisplay(0);
	</script>
	<div id="header">
		<div id="theader">
			<div class="warp">
				<div class="fr tfr">
					<div class="search fl">
						<div th:replace="front/include::search" id="search"></div>
					</div>
					<ul class="h_nav fr">
						<li class="line">|</li>
						<li class="inquiry"><a href="#" id="changeLanguage" rel="nofollow">
							<th:block th:switch="${session.i_language}">
								<p th:case="'en'">中文</p>
								<p th:case="'zh'">English</p>
							</th:block>
						</a></li>
					</ul>
					<script type="text/javascript" th:inline="javascript">
						$("#changeLanguage").click(function (e) {
							e.preventDefault();
							const page = [[${url}]] + "/front/changeLanguage";
							$.post(page,{},function(){ window.location.reload() }) })
					</script>
					<script>
						$(function() {
							if ($('.h_nav li').length == 0) {
								$('.h_nav').hide();
							}
						});
					</script>

					<script type="text/javascript">
						$(document).ready(function() {
							var hli = $('ul.h_nav li');
							if (hli.length) {
								if (hli.eq(0).hasClass('line'))
									hli.eq(0).remove();
							} else {
								hli.parent().remove();
							}
						});
					</script>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="warp">
			
			<div th:replace="front/include::top" id="top"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="download">
		<div class="blank25"></div>
		<div class="warp">
			<div th:replace="front/include::home_left"></div>
			<!-- end of .leftmenu -->
			<script>
				$('.AId_2').addClass('on');
			</script>
			<div class="rightside fr">
				<div id="index_con">
					<div class="demo" style="width: 100%;">
						<div class='bxSlide-outter'
							style='overflow: hidden; margin-left: auto; margin-right: auto; width: 891px; max-width: 100%; max-height: 260px'>
							<img src='../../static/images/contact/1.jpg' th:src="@{/images/contact/1.jpg}" width='100%' alt=''>
						</div>
						<div id="webpath">
							<div class="fl">Contact Us</div>
							<div class="fr">
								<span>Home</span>&gt; <span>Contact Us</span>
							</div>
						</div>
						<div class="blank20"></div>
						<div class="page_content">
							<div id="global_editor_contents">
								<div th:each="c:${contacts}">
										<span th:text="${c.name}"></span>:<span style="margin-left: 5px" th:text="${c.info}"></span>

								</div>
							</div>
							<div class="blank25"></div>
							<div class="share fr">
								<!-- Go to www.addthis.com/dashboard to customize your tools -->
								<div class="addthis_sharing_toolbox"></div>
								<script type="text/javascript" src="style/js/addthis_widget.js"
									async></script>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="blank12"></div>
	<div th:replace="front/include::foot" id="foot"></div>
	<div align="center">
		<script type='text/javascript' src='style/js/analytics.js' async></script>
		<script src="style/js/fixed.toper.js"></script>
	</div>
	<div id="chat_window">
		<div class="chat_box pc_limit ">
			<div class="box trans_05">
				<div class="box_area">
					<div class="chat_item chat_qq">
						<div class="abs">
							<div class="more_box">
								<a rel="nofollow"
									href="//wpa.qq.com/msgrd?v=3&uin=1844579205&menu=yes"
									target="_blank" class="item"> Kin </a> <a rel="nofollow"
									href="//wpa.qq.com/msgrd?v=3&uin=fsdf&menu=yes" target="_blank"
									class="item"> Wellest </a> <a rel="nofollow"
									href="//wpa.qq.com/msgrd?v=3&uin=&menu=yes" target="_blank"
									class="item"> EVER JOY </a> <a rel="nofollow"
									href="//wpa.qq.com/msgrd?v=3&uin=&menu=yes" target="_blank"
									class="item"> EVER JOY </a>
							</div>
						</div>
					</div>
					<a rel="nofollow"
						href="//amos.alicdn.com/msg.aw?v=2&uid=dfsdf&site=enaliint&s=24&charset=UTF-8"
						title="Ledfocus" target="_blank"
						class="chat_item chat_trademanager">Ledfocus</a>
				</div>
				<span class="chat_close"></span>
			</div>
			<div class="chat_box_menu">
				<a href="javascript:;" class="more"></a> <a href="javascript:;"
					id="go_top" class="top trans_05"></a>
			</div>
		</div>
	</div>


</body>
</html>