<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="canonical" href="https://t198.web.ueeshop.com/feedback.html"/>
        <link rel='shortcut icon' href=''/>
        <meta name="keywords" content="Pure Vision"/>
        <meta name="description" content="Pure Vision"/>
        <title>Pure Vision</title>
        <link href='../../static/css/global.css' rel='stylesheet'
              th:href="@{/css/global.css}" type='text/css'/>
        <link th:href="@{/iron/css/iron.css}" rel="stylesheet"/>
        <link href='../../static/css/themes.css' rel='stylesheet'
              th:href="@{/css/themes.css}" type='text/css'/>
        <link href='../../static/css/user.css' rel='stylesheet' type='text/css'
              th:href="@{/css/user.css}"/>
        <link href='../../static/css/style.css' rel='stylesheet' type='text/css'
              th:href="@{/css/style.css}"/>
        <script type='text/javascript' src='../../static/js/jquery-1.7.2.min.js'
                th:href="@{/js/jquery-1.7.2.min.js}"></script>
        <script type='text/javascript' src='../../static/js/en.js'
                th:src="@{/js/en.js}"></script>
        <script type='text/javascript' src='../../static/js/global.js'
                th:src="@{/js/global.js}"></script>
        <script type='text/javascript' src='../../static/js/themes.js'
                th:src="@{/js/themes.js}"></script>
        <script type='text/javascript' src='../../static/js/user.js'
                th:src="@{/js/user.js}"></script>
        <script type='text/javascript' src='../../static/js/main.js'
                th:src="@{/js/main.js}"></script>
        <link href='../../static/css/font.css' rel='stylesheet' type='text/css'
              th:href="@{/css/font.css}"/>
        <link href='../../static/css/style.css' rel='stylesheet' type='text/css'
              th:href="@{/css/style.css}"/>
        <link href='../../static/css/index.css' rel='stylesheet' type='text/css'
              th:href="@{/css/index.css}"/>
        <link href='../../static/css/jquery.bxslider.css' rel='stylesheet'
              type='text/css' th:href="@{/css/jquery.bxslider.css}"/>
        <script type='text/javascript' src='../../static/js/jquery.bxslider.js'
                th:src="@{/js/jquery.bxslider.js}"></script>
        <script type='text/javascript' src='../../static/js/analytics.js'
                th:src="@{/js/jquery.analytics.js}"></script>
        <script src="../../static/js/fixed.toper.js"
                th:src="@{js/fixed.toper.js}"></script>

        <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet"/>
        <script th:src="@{/plugins/bootstrap/popper.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>

        <script th:src="@{/plugins/jquery/jquery-3.4.1.min.js}"
                src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script th:src="@{/plugins/bootstrap/popper.min.js}"
                src="../../assets/plugins/bootstrap/popper.min.js"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"
                src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
                src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script th:src="@{/plugins/jquery-sparkline/jquery.sparkline.min.js}"
                src="../../assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
        <script th:src="@{/plugins/apexcharts/dist/apexcharts.min.js}"
                src="../../assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
        <script th:src="@{/plugins/blockui/jquery.blockUI.js}"
                src="../../assets/plugins/blockui/jquery.blockUI.js"></script>
        <script th:src="@{/plugins/flot/jquery.flot.min.js}"
                src="../../assets/plugins/flot/jquery.flot.min.js"></script>
        <script th:src="@{/plugins/flot/jquery.flot.time.min.js}"
                src="../../assets/plugins/flot/jquery.flot.time.min.js"></script>
        <script th:src="@{/plugins/flot/jquery.flot.symbol.min.js}"
                src="../../assets/plugins/flot/jquery.flot.symbol.min.js"></script>
        <script th:src="@{/plugins/flot/jquery.flot.resize.min.js}"
                src="../../assets/plugins/flot/jquery.flot.resize.min.js"></script>
        <script th:src="@{/plugins/flot/jquery.flot.tooltip.min.js}"
                src="../../assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script th:src="@{/js/connect.min.js}"
                src="../../assets/js/connect.min.js"></script>
        <script th:src="@{/js/pages/dashboard.js}"
                src="../../assets/js/pages/dashboard.js"></script>
        <script src="../../assets/js/pages/mailbox.js"
                th:src="@{/js/pages/mailbox.js}"></script>

        <script th:src="@{/bootstrap/js/jquery/2.0.0/jquery.min.js}" type='text/javascript'></script>
        <link th:href="@{/bootstrap/css/bootstrap/3.3.6/bootstrap.min.css}" rel="stylesheet"/>
        <script th:src="@{/bootstrap/js/bootstrap/3.3.6/bootstrap.min.js}" type='text/javascript'></script>
    </head>
    <body class="lang_en">
        <script type="text/javascript">
            $(window).resize(function () {
                $(window).webDisplay(0);
            });
            $(window).webDisplay(0);
        </script>
        <div id="header">
            <div id="theader">
                <div class="warp">
                    <div class="fr tfr">
                        <div class="search fl">
                            <div th:replace="front/include::search" id="search"></div>
                        </div>
                        <ul class="h_nav fr">
                            <li class="line">|</li>
                            <li class="inquiry"><a href="#" id="changeLanguage" rel="nofollow">
                                <th:block th:switch="${session.i_language}">
                                    <p th:case="'en'">中文</p>
                                    <p th:case="'zh'">English</p>
                                </th:block>
                            </a></li>
                        </ul>
                        <script type="text/javascript" th:inline="javascript">
                            $("#changeLanguage").click(function (e) {
                                e.preventDefault();
                                const page = [[${url}]] + "/front/changeLanguage";
                                $.post(page, {}, function () {
                                    window.location.reload()
                                })
                            })
                        </script>
                        <script>
                            $(function () {
                                if ($('.h_nav li').length == 0) {
                                    $('.h_nav').hide();
                                }
                            });
                        </script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                var hli = $('ul.h_nav li');
                                if (hli.length) {
                                    if (hli.eq(0).hasClass('line'))
                                        hli.eq(0).remove();
                                } else {
                                    hli.parent().remove();
                                }
                            });
                        </script>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="warp">

                <div th:replace="front/include::top" id="top"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="products">
            <div class="blank25"></div>
            <div class="warp">
                <div th:replace="front/include::home_left"></div>


                <!-- end of .leftmenu -->
                <div class="rightside fr">
                    <div class='bxSlide-outter'
                         style='overflow: hidden; margin-left: auto; margin-right: auto; width: 891px; max-width: 100%; max-height: 260px'></div>
                    <div id="webpath">
                        <div class="fl" th:if="${session.i_language == 'zh'}">反馈</div>
                        <div class="fl" th:unless="${session.i_language == 'zh'}">Feedback</div>
                        <div th:replace="front/include::backAndTo"></div>
                        <div class="clear"></div>
                    </div>
                    <div id="lib_feedback_form">
                        <div class="rows">
                            <label>
                                <th:block th:if="${session.i_language == 'zh'}">全名</th:block>
                                <th:block th:unless="${session.i_language == 'zh'}">Full Name</th:block>
                                :
                                <font class='fc_red'>*</font>
                            </label>


                            <span><input
                                id="fullname" type="text" size="30"
                                maxlength="50"/></span>
                            <div class="clear"></div>
                        </div>
                        <div class="rows">
                            <label>
                                <th:block th:if="${session.i_language == 'zh'}">电话</th:block>
                                <th:block th:unless="${session.i_language == 'zh'}">Phone</th:block>
                                :


                            </label> <span><input name="Phone" id="phone"
                                                             type="number" class="input" size="30"
                                                             maxlength="20"/></span>
                            <div class="clear"></div>
                        </div>
                        <div class="rows">
                            <label>
                                <th:block th:if="${session.i_language == 'zh'}">邮箱</th:block>
                                <th:block th:unless="${session.i_language == 'zh'}">Email</th:block>
                                :


                                <font class='fc_red'>*</font></label> <span><input
                                id="email" name="Email" type="email" class="input" size="30"
                                maxlength="100" format="Email" notnull/></span>
                            <div class="clear"></div>
                        </div>
                        <div class="rows">
                            <label>
                                <th:block th:if="${session.i_language == 'zh'}">主题</th:block>
                                <th:block th:unless="${session.i_language == 'zh'}">Subject</th:block>

                                :
                                <font class='fc_red'>*</font></label> <span><input
                                id="subject" name="Subject" type="text" class="input" size="50"
                                maxlength="50" notnull/></span>
                            <div class="clear"></div>
                        </div>
                        <div class="rows">
                            <label>
                                <th:block th:if="${session.i_language == 'zh'}">信息</th:block>
                                <th:block th:unless="${session.i_language == 'zh'}">Message</th:block>
                                :
                                <font class='fc_red'>*</font></label> <span><textarea
                                id="message" name="Message" class="form_area contents" notnull></textarea></span>
                            <div class="clear"></div>
                        </div>
                        <div class="rows">
                        </div>

                        <div class="rows">
                            <label></label>
                            <button id="submit" class="btn btn-info">Submit</button>
                        </div>
                        <input type="hidden" name="Site" value="en"/>

                    </div>
                    <!-- end of #lib_feedback_form -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="blank12"></div>
        <div th:replace="front/include::foot" id="foot"></div>
        <script th:inline="javascript">
            $("#submit").click(function () {
                if (window.uploadFeedback == true) {
                    return alert("请拖动验证码")
                }
                const page = [[${url}]] + "/front/feedback/submit";
                var fullname = $("#fullname").val()
                const email = $("#email").val();
                const subject = $("#subject").val();
                const message = $("#message").val();
                const phone = $("#phone").val();
                if (fullname == "") {
                    let name = $("#fullname");
                    name.attr("placeholder", "请输入您的姓名")
                    name.focus()
                    return
                } else if (phone == "") {
                    let p = $("#phone")
                    p.attr("placeholder", "请输入您的电话")
                    p.focus()
                    return
                } else if (email == "") {
                    let e = $("#email");
                    e.attr("placeholder", "请输入您的邮箱")
                    e.focus()
                    return
                } else if (subject == "") {
                    let sub = $("#subject")
                    sub.attr("placeholder", "请输入您的主题")
                    sub.focus()
                    return
                } else if (message == "") {
                    let m = $("#message")
                    m.attr("placeholder", "请输入您的信息")
                    m.focus()
                    return
                }


                const data = new FormData();
                data.append("fullname", fullname)
                data.append("email", email)
                data.append("subject", subject)
                data.append("message", message)
                data.append("phone", phone)
                $.ajax({
                    url: page,
                    type: 'POST',
                    cache: false,
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function () {
                        location.reload()
                    }
                })
            })
        </script>
        <div align="center">
            <script type='text/javascript' src='style/js/analytics.js' async></script>
            <script src="style/js/fixed.toper.js"></script>
        </div>
        <div id="chat_window">
            <div class="chat_box pc_limit ">
                <div class="box trans_05">
                    <div class="box_area">
                        <div class="chat_item chat_qq">
                            <div class="abs">
                                <div class="more_box">
                                    <a rel="nofollow"
                                       href="//wpa.qq.com/msgrd?v=3&uin=1844579205&menu=yes"
                                       target="_blank" class="item"> Kin </a> <a rel="nofollow"
                                                                                 href="//wpa.qq.com/msgrd?v=3&uin=fsdf&menu=yes"
                                                                                 target="_blank"
                                                                                 class="item"> Wellest </a> <a
                                        rel="nofollow"
                                        href="//wpa.qq.com/msgrd?v=3&uin=&menu=yes" target="_blank"
                                        class="item"> EVER JOY </a> <a rel="nofollow"
                                                                       href="//wpa.qq.com/msgrd?v=3&uin=&menu=yes"
                                                                       target="_blank"
                                                                       class="item"> EVER JOY </a>
                                </div>
                            </div>
                        </div>
                        <a rel="nofollow"
                           href="//amos.alicdn.com/msg.aw?v=2&uid=dfsdf&site=enaliint&s=24&charset=UTF-8"
                           title="Ledfocus" target="_blank"
                           class="chat_item chat_trademanager">Ledfocus</a>
                    </div>
                    <span class="chat_close"></span>
                </div>
                <div class="chat_box_menu">
                    <a href="javascript:;" class="more"></a> <a href="javascript:;"
                                                                id="go_top" class="top trans_05"></a>
                </div>
            </div>
        </div>
        <script th:src="@{/iron/js/iron.js}"></script>

    </body>
</html>